<div class="m-5 text-xl h-screen">
  <p class="text-4xl font-semibold text-center underline">Datasets</p>

  <!-- Login/Logout Button -->
  <div
    *ngIf="isResPass == false"
    class="flex flex-row-reverse justify-between items-center"
  >
    <button
      *ngIf="log == false && user"
      [matMenuTriggerFor]="menu"
      class="px-4 py-2 w-48 border-2 w-48 border-green-500 items-center flex justify-evenly float-right bg-blue-500 text-white text-2xl rounded-xl"
    >
      <img
        *ngIf="user.photoURL"
        class="rounded-full h-10"
        [src]="user.photoURL"
        alt="user"
      />
      <span class="items-center" *ngIf="!user.photoURL"
        ><mat-icon>account_circle</mat-icon></span
      >

      <span>{{ user.displayName }}</span>
      <mat-menu #menu="matMenu">
        <button (click)="isResPass = true" mat-menu-item>Reset Password</button>
        <button (click)="logout()" mat-menu-item>Logout</button>
      </mat-menu>
    </button>
    <p *ngIf="user != null" class="font-semibold text-2xl">
      Welcome to Datasets !!
    </p>
    <button
      *ngIf="log == false && user == null"
      class="px-4 py-2 border-2 border-green-500 float-right bg-blue-500 text-white text-2xl rounded-xl"
      (click)="login()"
    >
      Login
    </button>
  </div>

  <!-- Login/Register -->
  <div *ngIf="log == true">
    <!-- Form -->
    <form
      [formGroup]="userEmails"
      class="flex flex-col items-center w-screen space-y-4 my-20"
    >
      <!-- name -->
      <div
        *ngIf="regis == true"
        class="form-group grid grid-cols-2 gap-6 items-center"
      >
        <label>Name</label>
        <input
          [class.is-invalid]="
            userEmails.get('name')?.invalid && userEmails.get('name')?.touched
          "
          type="text"
          required
          autocomplete
          class="form-control border-2 border-blue-500 rounded-xl px-2 py-1"
          formControlName="name"
        />

        <div
          class="col-span-2"
          *ngIf="(name?.invalid && name?.touched) || name?.dirty"
        >
          <small *ngIf="name?.errors?.['required']" class="text-red-500"
            >Name is required</small
          >
          <!--question mark(?) is a safe navigation operator-->
          <small *ngIf="name?.errors?.['minLength']" class="text-red-500"
            >Name should be more than 12 characters</small
          >
        </div>
      </div>

      <!-- email -->
      <div class="form-group grid grid-cols-2 gap-6 items-center">
        <label>Email</label>
        <input
          [class.is-invalid]="
            userEmails.get('email')?.invalid && userEmails.get('email')?.touched
          "
          type="email"
          required
          class="form-control border-2 border-blue-500 rounded-xl px-2 py-1"
          formControlName="email"
        />

        <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
          <small *ngIf="email?.errors?.['required']" class="text-red-500"
            >Email is required</small
          >
          <!--question mark(?) is a safe navigation operator-->
          <small *ngIf="email?.errors?.['pattern']" class="text-red-500"
            >Please provide a valid email address</small
          >
        </div>
      </div>

      <!-- password -->
      <div class="form-group grid grid-cols-2 gap-6 items-center">
        <label>Password</label>
        <div
          class="flex itens-center justify-between border-2 border-blue-500 rounded-xl px-2 py-1"
        >
          <input
            [class.is-invalid]="
              userEmails.get('password')?.invalid &&
              userEmails.get('password')?.touched
            "
            [type]="showPassword ? 'text' : 'password'"
            required
            autocomplete
            class="form-control outline-0"
            formControlName="password"
          />
          <mat-icon matSuffix (click)="showPassword = !showPassword">{{
            showPassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </div>

        <div
          class="col-span-2"
          *ngIf="(password?.invalid && password?.touched) || password?.dirty"
        >
          <small *ngIf="password?.errors?.['required']" class="text-red-500"
            >Password is required</small
          >
          <!--question mark(?) is a safe navigation operator-->
          <small *ngIf="password?.errors?.['minLength']" class="text-red-500"
            >Password shoul be more than 8 characters</small
          >
        </div>
      </div>

      <!-- login button -->
      <div
        *ngIf="regis == false"
        class="flex flex-col items-center w-full space-y-4"
      >
        <button
          type="submit"
          (click)="handleLogin()"
          class="px-4 py-2 bg-blue-500 text-white text-2xl rounded-xl"
        >
          Sign In
        </button>

        <p>
          Don't have an account?
          <span class="text-blue-500 cursor-pointer" (click)="regis = true"
            >Register here</span
          >
        </p>
      </div>

      <!-- register button -->
      <div
        *ngIf="regis == true"
        class="flex flex-col items-center w-full space-y-4"
      >
        <button
          type="submit"
          (click)="handleRegister()"
          class="px-4 py-2 bg-blue-500 text-white text-2xl rounded-xl"
        >
          Sign Up
        </button>

        <p>
          Already have an account?
          <span class="text-blue-500 cursor-pointer" (click)="regis = false"
            >Login here</span
          >
        </p>
      </div>
    </form>

    <!-- Google login -->
    <div class="flex justify-center items-center">
      <div (click)="googleLogin()" class="g-sign-in-button">
        <div class="content-wrapper">
          <div class="logo-wrapper">
            <img
              src="https://developers.google.com/identity/images/g-logo.png"
            />
          </div>
          <span class="text-container">
            <span>Sign in with Google</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Reset Password -->
  <form
    *ngIf="isResPass == true"
    class="flex flex-col items-center w-screen space-y-4 my-20"
  >
    <div class="grid grid-cols-2 gap-6 items-center">
      <label>New Password</label>
      <input
        type="password"
        name="resPass"
        autocomplete="true"
        class="border-2 border-blue-500 rounded-xl px-2 py-1"
        required="true"
        [formControl]="resPass"
      />
    </div>

    <button
      type="submit"
      (click)="resetPass()"
      class="px-4 py-2 bg-blue-500 text-white text-2xl rounded-xl"
    >
      Reset Password
    </button>
  </form>

  <!-- Dataset -->
  <div *ngIf="isResPass == false && log == false" class="m-10">
    <ul class="grid grid-cols-2 gap-10 items-center">
      <li *ngFor="let data of invoicesData" class="">
        <div class="border-2 border-black p-3 rounded-xl h-56 overflow-scroll">
          <div
            class="grid grid-cols-2 gap-24 items-center"
            *ngFor="let item of data | keyvalue"
          >
            <p *ngIf="item.key !== 'id'">{{ item.key }}:</p>
            <p *ngIf="item.key !== 'id'">{{ item.value }}</p>
          </div>
        </div>
        <div class="flex p-3 justify-evenly items-center">
          <button
            (click)="upd(data.id)"
            class="material-icons text-yellow-700 text-4xl"
          >
            edit_note
          </button>

          <button
            class="material-icons text-red-500 text-4xl"
            (click)="handleDelete(data.id)"
          >
            delete
          </button>
        </div>
      </li>
    </ul>
  </div>

  <!-- Add/Create Invoices -->
  <div *ngIf="add == true && update == false && del == false">
    <button
      (click)="cancel()"
      class="float-right material-icons text-red-600 text-4xl"
    >
      cancel
    </button>

    <form class="flex flex-col items-center w-screen space-y-4 my-20">
      <div class="grid grid-cols-2 gap-6 items-center">
        <label>GST Invoice No</label>
        <input
          type="text"
          name="invoiceNo"
          class="border-2 border-blue-500 rounded-xl px-2 py-1"
          required="true"
          [formControl]="invoiceNo"
        />

        <div
          class="col-span-2 -my-20 text-center"
          *ngIf="(invoiceNo?.invalid && invoiceNo?.touched) || invoiceNo?.dirty"
        >
          <small *ngIf="invoiceNo?.errors?.['required']" class="text-red-500"
            >GST Invoice No is required</small
          >
        </div>
      </div>

      <div class="grid grid-cols-2 gap-96 items-center">
        <div class="space-y-4">
          <p class="text-2xl text-center underline underline-offset-2">
            Customer Details
          </p>

          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Vehicle No</label>
            <input
              type="text"
              required="true"
              name="vehicleNo"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="vehicleNo"
            />
            <div
              class="col-span-2 -my-20 text-center"
              *ngIf="
                (vehicleNo?.invalid && vehicleNo?.touched) || vehicleNo?.dirty
              "
            >
              <small
                *ngIf="vehicleNo?.errors?.['required']"
                class="text-red-500"
                >Required Field</small
              >
            </div>
          </div>

          <div class="grid grid-cols-2 gap-6 items-center">
            <label>W/S Code</label>
            <input
              type="text"
              name="wsCode"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="wsCode"
            />
            <div
              class="col-span-2 -my-20 text-center"
              *ngIf="(wsCode?.invalid && wsCode?.touched) || wsCode?.dirty"
            >
              <small *ngIf="wsCode?.errors?.['required']" class="text-red-500"
                >Required Field</small
              >
            </div>
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>W/S Name</label>
            <input
              type="text"
              name="wsName"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="wsName"
            />
            <div
              class="col-span-2 -my-20 text-center"
              *ngIf="(wsName?.invalid && wsName?.touched) || wsName?.dirty"
            >
              <small *ngIf="wsName?.errors?.['required']" class="text-red-500"
                >Required Field</small
              >
            </div>
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>W/S Town</label>
            <input
              type="text"
              name="wsTown"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="wsTown"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Distance</label>
            <input
              type="number"
              name="distance"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="distance"
            />
          </div>
        </div>
        <div class="space-y-4">
          <p class="text-2xl text-center underline underline-offset-2">
            Shipment Details
          </p>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>KOT</label>
            <input
              type="number"
              name="KOT"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="KOT"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>MLR No</label>
            <input
              type="number"
              name="mlrNo"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="mlrNo"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Labour</label>
            <input
              type="number"
              name="labour"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="labour"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Diesel Voucher Number</label>
            <input
              type="number"
              name="deiselVoucherNo"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="deiselVoucherNo"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Diesel Amount</label>
            <input
              type="number"
              name="deiselAmt"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="deiselAmt"
            />
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-96 items-center">
        <div class="space-y-4">
          <p class="text-2xl text-center underline underline-offset-2">
            Cash Expense
          </p>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Khuraki</label>
            <input
              type="number"
              name="khuraki"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="Khuraki"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Freight</label>
            <input
              type="number"
              name="frieght"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="frieght"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Toll</label>
            <input
              type="number"
              name="toll"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="toll"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Repairs</label>
            <input
              type="number"
              name="repairs"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="repairs"
            />
          </div>
        </div>
        <div class="space-y-4">
          <p class="text-2xl text-center underline underline-offset-2">
            Post Delivery
          </p>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Cash expense</label>
            <input
              type="number"
              name="cashExp"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="cashExp"
            />
          </div>

          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Invoice Ackn</label>
            <input
              type="text"
              name="invoiceAckn"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="invoiceAckn"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>MLR Ackn</label>
            <input
              type="text"
              name="mlrAckn"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="mlrAckn"
            />
          </div>
        </div>
      </div>

      <button
        type="submit"
        (click)="handleSubmit(null)"
        class="px-4 py-2 bg-blue-500 text-white text-2xl rounded-xl"
      >
        Submit
      </button>
    </form>
  </div>

  <!-- Update Invoices  -->
  <div *ngIf="add == false && update == true && del == false">
    <button
      (click)="cancel()"
      class="float-right material-icons text-red-600 text-4xl"
    >
      cancel
    </button>

    <form class="flex flex-col items-center w-screen space-y-4 my-20">
      <div *ngIf="gotData == true" class="grid grid-cols-2 gap-96 items-center">
        <div class="space-y-4">
          <p class="text-2xl text-center underline underline-offset-2">
            Customer Details
          </p>

          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Vehicle No</label>
            <input
              type="text"
              [placeholder]="updateData.vehicleNo"
              name="vehicleNo"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="vehicleNo"
            />
          </div>

          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Customer Name</label>
            <input
              type="text"
              [placeholder]="updateData.customerName"
              name="customerName"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="customerName"
            />
          </div>

          <div class="grid grid-cols-2 gap-6 items-center">
            <label>W/S Code</label>
            <input
              [placeholder]="updateData.wsCode"
              type="text"
              name="wsCode"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="wsCode"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>W/S Name</label>
            <input
              [placeholder]="updateData.wsName"
              type="text"
              name="wsName"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="wsName"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>W/S Town</label>
            <input
              [placeholder]="updateData.wsTown"
              type="text"
              name="wsTown"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="wsTown"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Distance</label>
            <input
              [placeholder]="updateData.distance"
              type="number"
              name="distance"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="distance"
            />
          </div>
        </div>
        <div class="space-y-4">
          <p class="text-2xl text-center underline underline-offset-2">
            Shipment Details
          </p>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>KOT</label>
            <input
              [placeholder]="updateData.KOT"
              type="text"
              name="KOT"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="KOT"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>MLR No</label>
            <input
              [placeholder]="updateData.mlrNo"
              type="text"
              name="mlrNo"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="mlrNo"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Labour</label>
            <input
              [placeholder]="updateData.labour"
              type="text"
              name="labour"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="labour"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Diesel Voucher Number</label>
            <input
              [placeholder]="updateData.deiselVoucherNo"
              type="text"
              name="deiselVoucherNo"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="deiselVoucherNo"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Diesel Amount</label>
            <input
              [placeholder]="updateData.deiselAmt"
              type="text"
              name="deiselAmt"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="deiselAmt"
            />
          </div>
        </div>
      </div>

      <div *ngIf="gotData == true" class="grid grid-cols-2 gap-96 items-center">
        <div class="space-y-4">
          <p class="text-2xl text-center underline underline-offset-2">
            Cash Expense
          </p>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Khuraki</label>
            <input
              [placeholder]="updateData.Khuraki"
              type="text"
              name="khuraki"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="Khuraki"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Freight</label>
            <input
              [placeholder]="updateData.frieght"
              type="text"
              name="frieght"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="frieght"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Toll</label>
            <input
              [placeholder]="updateData.toll"
              type="text"
              name="toll"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="toll"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Repairs</label>
            <input
              [placeholder]="updateData.repairs"
              type="text"
              name="repairs"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="repairs"
            />
          </div>
        </div>
        <div class="space-y-4">
          <p class="text-2xl text-center underline underline-offset-2">
            Billing Details
          </p>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Billing Data</label>
            <input
              [placeholder]="updateData.billingDate"
              type="text"
              name="billingDate"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="billingDate"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Billing Document</label>
            <input
              [placeholder]="updateData.billingDoc"
              type="text"
              name="billingDoc"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="billingDoc"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>GST Invoice No</label>
            <input
              [placeholder]="updateData.gstInvoiceNo"
              type="text"
              name="gstInvoiceNo"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="gstInvoiceNo"
            />
          </div>
          <div class="grid grid-cols-2 gap-6 items-center">
            <label>Ownership</label>
            <input
              [placeholder]="updateData.ownership"
              type="text"
              name="ownership"
              class="border-2 border-blue-500 rounded-xl px-2 py-1"
              [formControl]="ownership"
            />
          </div>
        </div>
      </div>

      <button
        *ngIf="gotData == true"
        type="submit"
        (click)="handleSubmit(invoiceId)"
        class="px-4 py-2 bg-blue-500 text-white text-2xl rounded-xl"
      >
        Update
      </button>
    </form>
  </div>

  <!-- Upload Excel File and Create Dataset -->
  <div
    *ngIf="log == false && isResPass == false && user"
    class="flex flex-col space-y-12 justify-center items-center"
  >
    <button
      class="px-4 py-2 bg-green-500 text-white text-2xl rounded-xl"
      (click)="create()"
    >
      Create Dataset
    </button>

    <label
      class="h-24 w-1/3 text-slate-500 flex justify-center border-dashed items-center cursor-pointer rounded-xl border-2 border-black"
      for="fileInpt"
    >
      <input
        type="file"
        class="hidden"
        id="fileInpt"
        (change)="xlUpload($event)"
      />
      <p>Upload Excel</p>
    </label>
  </div>
</div>
