<div class="m-5 text-xl h-screen">
  <p class="text-4xl font-semibold text-center underline">Form</p>

  <form class="flex flex-col items-center w-screen space-y-4 my-20">
    <div class="grid grid-cols-2 gap-6 items-center">
      <label>Invoice No</label>
      <input
        type="text"
        name="invoiceNo"
        class="border-2 border-blue-500 rounded-xl px-2 py-1"
        [formControl]="invoiceNo"
      />
    </div>

    <div class="grid grid-cols-2 gap-96 items-center">
      <div class="space-y-4">
        <p class="text-2xl text-center underline underline-offset-2">
          Customer Details
        </p>

        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Vehicle No</label>
          <input
            type="text"
            name="vehicleNo"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="vehicleNo"
          />
        </div>

        <div class="grid grid-cols-2 gap-6 items-center">
          <label>W/S Code</label>
          <input
            type="text"
            name="wsCode"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="wsCode"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>W/S Name</label>
          <input
            type="text"
            name="wsName"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="wsName"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>W/S Town</label>
          <input
            type="text"
            name="wsTown"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="wsTown"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Distance</label>
          <input
            type="number"
            name="distance"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="distance"
          />
        </div>
      </div>
      <div class="space-y-4">
        <p class="text-2xl text-center underline underline-offset-2">
          Shipment Details
        </p>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>KOT</label>
          <input
            type="text"
            name="KOT"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="KOT"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>MLR No</label>
          <input
            type="text"
            name="mlrNo"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="mlrNo"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Labour</label>
          <input
            type="text"
            name="labour"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="labour"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Diesel Voucher Number</label>
          <input
            type="text"
            name="deiselVoucherNo"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="deiselVoucherNo"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Diesel Amount</label>
          <input
            type="text"
            name="deiselAmt"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="deiselAmt"
          />
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-96 items-center">
      <div class="space-y-4">
        <p class="text-2xl text-center underline underline-offset-2">
          Cash Expense
        </p>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Khuraki</label>
          <input
            type="text"
            name="khuraki"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="Khuraki"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Freight</label>
          <input
            type="text"
            name="frieght"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="frieght"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Toll</label>
          <input
            type="text"
            name="toll"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="toll"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Repairs</label>
          <input
            type="text"
            name="repairs"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="repairs"
          />
        </div>
      </div>
      <div class="space-y-4">
        <p class="text-2xl text-center underline underline-offset-2">
          Post Delivery
        </p>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Cash expense</label>
          <input
            type="text"
            name="cashExp"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="cashExp"
          />
        </div>

        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Invoice Ackn</label>
          <input
            type="text"
            name="invoiceAckn"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="invoiceAckn"
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>MLR Ackn</label>
          <input
            type="text"
            name="mlrAckn"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            [formControl]="mlrAckn"
          />
        </div>
      </div>
    </div>

    <button
      type="submit"
      (click)="handleSubmit()"
      class="px-4 py-2 border-2 border-white bg-blue-500 text-white text-2xl rounded-xl"
    >
      Submit
    </button>
  </form>

  <!-- <form class="space-y-12">
    <div class="flex flex-col space-y-4 justify-center items-center">
      <p class="text-center font-semibold text-3xl">Create</p>
      <input
        placeholder="New Value"
        type="text"
        class="border-2 border-blue-500 w-96 rounded-xl px-2 py-1"
        [formControl]="invoiceNo"
      />
      <button
        type="submit"
        (click)="handleSubmit()"
        class="px-4 py-2 border-2 border-white bg-blue-500 text-white text-2xl rounded-xl"
      >
        Submit
      </button>
    </div>

    <div class="flex flex-col space-y-4 justify-center items-center">
      <p class="text-center font-semibold text-3xl">Update</p>
      <button
        (click)="handleUpdate()"
        class="px-4 py-2 border-2 border-white bg-blue-500 text-white text-2xl rounded-xl"
      >
        Show Data
      </button>
      <tr *ngFor="let item of this.myData">
        <td>{{ item.id }}</td>
        <ng-container *ngFor="let doc of item.id">
          <li>{{ doc.sensors_id }}</li>
          <td>{{ item.active }}</td>
        </ng-container>
      </tr>
    </div>
  </form> -->
</div>
