<div class="m-5 text-xl h-screen">
  <p class="text-4xl font-semibold text-center underline">Form</p>

  <!-- <form
    #formData="ngForm"
    (ngSubmit)="handleSubmit(formData.value)"
    class="flex flex-col items-center w-screen space-y-4 my-20"
  >
    <div class="grid grid-cols-2 gap-6 items-center">
      <label>Invoice No</label>
      <input
        type="text"
        name="invoiceNo"
        class="border-2 border-blue-500 rounded-xl px-2 py-1"
        ngModel
      />
    </div>

    <div class="grid grid-cols-2 gap-96 items-center">
      <div class="space-y-4">
        <p class="text-2xl text-center underline underline-offset-2">
          Customer Details
        </p>

        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Vehicle No</label>
          <input
            type="text"
            name="vehicleNo"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>

        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Vehicle No</label>
          <input
            type="text"
            name="wsCode"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>W/S Code</label>
          <input
            type="text"
            name="wsName"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>W/S Name</label>
          <input
            type="text"
            name="wsTown"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>W/S Town</label>
          <input
            type="text"
            name="invoiceNo"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Distance</label>
          <input
            type="number"
            name="distance"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
      </div>
      <div class="space-y-4">
        <p class="text-2xl text-center underline underline-offset-2">
          Shipment Details
        </p>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>KOT</label>
          <input
            type="text"
            name="KOT"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>MLR No</label>
          <input
            type="text"
            name="mlrNo"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Labour</label>
          <input
            type="text"
            name="labour"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Diesel Voucher Number</label>
          <input
            type="text"
            name="deiselVoucherNo"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Diesel Amount</label>
          <input
            type="text"
            name="deiselAmt"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-96 items-center">
      <div class="space-y-4">
        <p class="text-2xl text-center underline underline-offset-2">
          Cash Expense
        </p>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Khuraki</label>
          <input
            type="text"
            name="khuraki"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Freight</label>
          <input
            type="text"
            name="frieght"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Toll</label>
          <input
            type="text"
            name="toll"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Repairs</label>
          <input
            type="text"
            name="repairs"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
      </div>
      <div class="space-y-4">
        <p class="text-2xl text-center underline underline-offset-2">
          Post Delivery
        </p>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Cash expense</label>
          <input
            type="text"
            name="cashExp"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Fast tag Toll</label>
          <input
            type="text"
            name="invoiceNo"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>Invoice Ackn</label>
          <input
            type="text"
            name="invoiceAckn"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
        <div class="grid grid-cols-2 gap-6 items-center">
          <label>MLR Ackn</label>
          <input
            type="text"
            name="mlrAckn"
            class="border-2 border-blue-500 rounded-xl px-2 py-1"
            ngModel
          />
        </div>
      </div>
    </div>

    <input
      type="submit"
      value="Submit"
      class="px-4 py-2 border-2 border-white bg-blue-500 text-white text-2xl rounded-xl"
    />
  </form> -->

  <form #formData="ngForm">
    <input
      placeholder="New Value"
      type="text"
      name="invoiceNo"
      class="border-2 border-blue-500 rounded-xl px-2 py-1"
      ngModel
    />
    <input
      type="submit"
      value="Submit"
      (click)="handleSubmit()"
      class="px-4 py-2 border-2 border-white bg-blue-500 text-white text-2xl rounded-xl"
    />
  </form>
</div>
